@import "compass/reset";
@import "compass";

@import "../../_fineart.scss";


@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');

body{
	@include background-size(cover);
	background-image: url(../../images/bg.jpg);
	text-align: center;
	padding-top: 4rem;
	font-family: 'Open Sans', sans-serif;
	color: #acacac;
}
h1{
	font-size: 3rem;
	color: white;
}

.item{
	@include fineart();
	margin: 1rem;
}
.itemBis{
	@include fineart(1rem, 3rem);
	margin: 1rem;
}